*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
}
.lookbook-banner{
    width:100%;
    height:300px;
    background: url('../assets/task/images/7.png');
    background-size: cover;
    background-position:center ;
    position:relative;
}
.banner-overlay{
    width:100%;
    height:300px;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#555;
    opacity:0.7;
}
.banner-content{
    position:absolute;
    top:70px;
    text-align: center;
    left:30%;
    z-index: 999;
    color:white;
}
.banner-content>h1, .banner-content>h2{
    font-weight: 400;
}

@media screen and (max-width:420px){
    .banner-content>h1, .banner-content>h2{
        font-size: 28px;
    }
    .banner-content>h2{
        font-size: 18px;
    }
    .banner-content{
        position:absolute;
        top:70px;
        text-align: center;
        left:5%;
        z-index: 999;
        color:white;
    }
    
}

/* images section =============================== */
.tab-list>a{
    color:#999;
    letter-spacing: 0px;
    font-weight: 650;
    font-size: 12px;
    margin:10px 15px; 
    margin-bottom: 50px;
}

.edit-content>h1{
    font-size: 20px;
    letter-spacing: 2px;
}
.edit-content>p{
    text-align: justify;
    font-size: 10px;
    /* display: none; */
    font-weight: 700;
    color:#777;
}
.edit-content>a{
    background-color: transparent;
    color:#555;
    border:1.5px solid black;
    font-weight: 600;
    padding:7px 15px;
    font-size: 12px;
}
.prod-image{
    height:100% !important;
    width:100% !important;
    object-fit: cover;
}
.right-col-edit{
    width:100% !important;
    height: 100% !important;
}
@media screen and (max-width:420px){
    .tab-list>a{
        color:#999;
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 7px;
        margin:0px 1px; 
        margin-bottom: 50px;
    }
}


.prod-col-2>img{
    object-fit: cover;
    width:100% !important;
    height: 100% !important;
}

.inner-win-row{
    display: flex;
    justify-content: space-between;
}
.inner-win-col>h1{
    color:#555;
    font-size: 30px;
}
.inner-win-col>p{
    font-weight: 600;
    color:#999;
    font-size: 12px;
}
.inner-win-col>a{
    background-color: transparent;
    border:2px solid #555;
    padding:7px 20px;
    color:#555;
    font-weight: 600;
    font-size: 12px;
}
.win-look-headings{
    display: flex;
    flex-direction:column;
    /* justify-content:flex-start; */
    align-items:center;
}
.win-look-headings>h1{
    color:#00c8c8;
    font-weight: bolder;
    font-size: 141px;
}
.win-look-headings>h2{
    color:#00c8c8;
    font-weight: bolder;
    font-size:40px ;
    letter-spacing: 0px;
    margin-top:-30px
}
.inner-win-row{
    padding-bottom: 70px;
}

.img-col>img{
    width: 100% !important;
    /* padding-bottom: 70px; */
    height: 100% !important;
    object-fit: cover;
}


@media screen and (max-width:420px){
    .inner-win-col>h1{
        color:#ffffff;
        text-align: center;
        font-size: 30px;
    }
    .inner-win-col>p{
        font-weight: 600;
        text-align: center;
        color:#fff;
        font-size: 10px;
    }
    .inner-win-col>a{
        background-color: transparent;
        border:2px solid #fff;
        padding:7px 20px;
        color:#fff;
        font-weight: 600;
        font-size: 12px;
    }
    .win-look-headings{
        display: flex;
        flex-direction:column;
        /* justify-content:flex-start; */
        align-items:center;
    }
    .win-look-headings>h1{
        color:#00c8c8;
        font-weight: bolder;
        font-size: 141px;
    }
    .win-look-headings>h2{
        color:#00c8c8;
        font-weight: bolder;
        font-size:40px ;
        letter-spacing: 0px;
        margin-top:-30px
    }
    .inner-win-row{
        padding-bottom: 70px;
    }
    
    .img-col>img{
        width: 100% !important;
        /* padding-bottom: 70px; */
        height: 100% !important;
        object-fit: cover;
    }
    .mobile-view{
        position: relative;
    }
    .mobile-overlay{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height: 100% !important;
        opacity: 0.8;
        background:#000 !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: top !important;
    }
    .mobile-btn{
        display:block;
        /* padding:0px !important; */
        /* margin:0 auto !important; */
        text-align: center;
    }
    .text-box-card>p{
        font-size: 12px;
        text-align: center;
        /* font-weight: 500; */
        color:#555;
        line-height:15px;
    }
    .text-box-card>h4{
        text-align: center;
        font-weight: 800;
        color:#555;
        letter-spacing:5px;
        margin-top:20px;
        margin-bottom: -8px;
    }
    .text-box-card>h5{
        text-align: center;
        font-weight: 400;
        color:#555;
        font-size: 28px;
    }
    .text-box-card>a{
        padding:5px 02px;
        border:1px solid #029090;
        border-radius: 50px;
        display: flex;
        justify-content: center;
    }
    .first-card>img{
        /* height: 10px; */
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
}



.col-md-3, .col-md-4{
    transition:0.4s;
    overflow: hidden;
}
.col-md-3:hover, .col-md-4:hover{
    box-shadow: 3px 3px 5px #555;
    transform: translateY(-10px);
}
a{
    transition: 0.5s;
}
a:hover{
    background-color: #00c8c8;
    color:white !important;
    padding:7px 15px;
    text-decoration: none !important;
    border:1px solid white;
    box-shadow: 1px 1px 0px black;

}



/* cards css=================================== */
.text-box-card{
    padding: 0;
}
.text-box-card>p{
    /* text-align: right; */
    font-size: 15px;
    /* font-weight: 500; */
    color:#555;
    line-height:15px;
}
.text-box-card>h4{
    font-weight: 800;
    color:#555;
    letter-spacing:5px;
}
.text-box-card>h5{
    font-weight: 400;
    color:#555;
    font-size: 31px;
}
.text-box-card>a{
    padding:7px 20px;
    color:white;
    background-color: #00C8C8;
}






.footer-col>h5{
    font-size: 15px;
    font-weight: 600;
}
.footer-col>p{
    font-size: 13px;
}
  
/* media query ------------------- */
@media screen and (max-width:400px) {
    .text-box-card>p{
        font-size: 12px;
        text-align: center;
        /* font-weight: 500; */
        color:#555;
        line-height:15px;
    }
    .text-box-card>h4{
        text-align: center;
        font-weight: 800;
        color:#555;
        letter-spacing:5px;
        margin-top:20px;
        margin-bottom: -8px;
    }
    .home-btn{
        display: none;
    }
    .text-box-card>h5{
        text-align: center;
        font-weight: 400;
        color:#555;
        font-size: 28px;
    }
    .text-box-card>a{
        padding:5px 02px;
        border:1px solid #029090;
        border-radius: 50px;
        display: flex;
        justify-content: center;
    }
    .first-card>img{
        /* height: 10px; */
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
    .footer{
        padding:0px;
    }

    .footer-col>h5{
        font-size:12px;
        font-weight: 700;
        text-align: left;
        color:#555;
    }
    .footer-col>p{
        font-size: 12px;
        color:#555;
        font-weight: 450;
        line-height: 7px;
    }
    .feature-list>ul>li{
        /* display: none; */
        margin:10px 10px;
        font-size: 10px;
        color:#999;
        font-weight: 700;
    }
    .footer-box{
        display: none;
    }
    .feature-list>ul>li{
        /* display: none; */
        margin:0px 5px;
        color:black;
        text-align: center;
        font-size: 6px;
        /* color:#999; */
        /* font-weight: 300; */
    }
    #menu-search{
        display: none;
    }
    #search-box{
        left:0;
    }

    .bi-menu-button-wide-fill{
        position:absolute;
        top:20px;
        right:20px;
    }
}

/* header ====================================== */
  /* navigation  */
  .navbar-nav>li>a{
    color:#000;
    font-weight: 700;
    font-size: 12px;
    }
    a:active{
        color:#00c8c8;
    }
    
    #menu-search{
        z-index: 9;
        position: relative;
        right:15px;
    }
    #search-box{
        border:1px solid #fefede;
        border-radius: none;
        position: relative;
        left:20px;
    
    }
    .hero-section{
        height: 90vh;
        background-color:#F8F8F8;
    }
    body{
        /* background-color: brown; */
    }
    .avanue-logo{
        color:black;
        cursor:pointer;
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 700;
    }
    .hero-banner{
        background:url('../assets/task/images/photo.png') ;
        height:80.5vh;
        background-size: cover;
    }
    
    .footer-col>h5{
        font-size: 15px;
        font-weight: 600;
    }
    .footer-col>p{
        font-size: 13px;
    }
    
    .home-btn{
        text-align:center;
        color:#555;
        border:1px solid #555;
        padding:10px 20px;
        font-weight: 600;
        position:absolute;
        bottom:50px;    
        transition:0.4s;
    }
    .home-btn:hover{
        background-color: #00C8C8;
        color:white;
        text-decoration: none;
        border:2px groove white;
        transform: translateY(-10px);
        box-shadow: 1px 1px 0px grey;
    }
    
    
    .ave-heading{
        font-size: 180px;
        letter-spacing: 40px;
        position: absolute;
        top:200px;
        left:200px;
        color:#555;
        z-index: 99;
    }
    
    
    
    
    
    
      
    
    .footer-col>h5{
        font-size: 15px;
        font-weight: 600;
    }
    .footer-col>p{
        font-size: 13px;
    }
      
    /* media query ------------------- */
    @media screen and (max-width:400px) {
        .text-box-card>p{
            font-size: 12px;
            text-align: center;
            /* font-weight: 500; */
            color:#555;
            line-height:15px;
        }
        .text-box-card>h4{
            text-align: center;
            font-weight: 800;
            color:#555;
            letter-spacing:5px;
            margin-top:20px;
            margin-bottom: -8px;
        }
        .home-btn{
            display: none;
        }
        .text-box-card>h5{
            text-align: center;
            font-weight: 400;
            color:#555;
            font-size: 28px;
        }
        .text-box-card>a{
            padding:5px 02px;
            border:1px solid #029090;
            border-radius: 50px;
            display: flex;
            justify-content: center;
        }
        .first-card>img{
            /* height: 10px; */
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 50% !important;
        }
        .footer{
            padding:0px;
        }
    
        .footer-col>h5{
            font-size:12px;
            font-weight: 700;
            text-align: left;
            color:#555;
        }
        .footer-col>p{
            font-size: 12px;
            color:#555;
            font-weight: 450;
            line-height: 7px;
        }
        .feature-list>ul>li{
            /* display: none; */
            margin:10px 10px;
            font-size: 10px;
            color:#999;
            font-weight: 700;
        }
        .footer-box{
            display: none !important;
        }
        .feature-list>ul>li{
            /* display: none; */
            margin:0px 5px;
            color:black;
            text-align: center;
            font-size: 6px;
            /* color:#999; */
            /* font-weight: 300; */
        }
        #menu-search{
            display: none;
        }
        #search-box{
            left:0;
        }

        .bi-menu-button-wide-fill{
            position:absolute;
            top:20px;
            right:20px;
        }
    }